@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Shadows+Into+Light&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center ;
    color: blue;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box {
    text-align: center;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: salmon;
}

body {
    background-color: white;
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: aquamarine;
}

nav a:hover{
    background-color: lightseagreen;
    /*text color*/
    color: black;
}

.book, .join {
    background-color: lightgreen;
    color: purple;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: greenyellow;
    color: black;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img {
    border: 10px solid aquamarine;
}

.msg {
    background-color: grey;
    text-align: center; 
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: darkslategrey;
    font-family: 'Shadows Into Light', cursive;
}

.msg p{
    color: black;
    font-size: 1em;
    padding-bottom: 15px;
}

footer{
    background-color: grey;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: black;
}

footer a {
    color: blue;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

footer a:hover{
    color: white;
}

footer h3 a:hover {
    text-decoration: underline;
}

.home-title {
    color: darkslategrey;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: green;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}