:root {
    --text-alignment: center;
    --border-standard-black: 1px solid black;
    --height-standard-size: auto;
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: 10px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--height-standard-size);
    border: var(--border-standard-black);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 222px;
    margin: auto;
    border: var(--border-standard-black);
    padding:16px;
    background-color: #eee;
    color: #333;
    text-align: var(--text-alignment);
}

aside h2 {
    position: relative;
    top: 40px;
}

aside img {
    width: 200px;
    height: var(--height-standard-size);
}

footer {
    margin-top: 15px;
    border-top: var(--border-standard-black);
    text-align: var(--text-alignment);
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: var(--border-standard-black);
    background-color: white;
    color: #333;
}

